<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonasfromell.android.musicplayer" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.jonasfromell.android.musicplayer.MusicBrowserActivity"
            android:label="@string/activity_music_browser" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".AlbumActivity"
            android:label="@string/activity_music_browser" />

        <activity
            android:name=".ArtistActivity"
            android:label="@string/activity_music_browser" />

        <service android:name=".PlaybackService" android:enabled="true" />

        <receiver android:name=".PlaybackService$RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
